<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrearEncuesta</title>
</head>
<body>
    <header>
		<h1 class="title">Nombre empresa</h1>
	</header>
	
	<nav>
		<a href="{{url_for('home')}}"> Volver</a>  
	</nav>
    <div>
        <form action="/nuevaEnc" method="POST">
            <p>
              <label>Titulo</label><br>
              <input type="text" name="titulo">
            </p>
            <p>
              <label>descripcion</label><br>
              <textarea name="descripcion" id="desc" cols="30" rows="10"></textarea>
            </p>
            
            <p>
              <!--<button>Añadir pregunta</button>--->
              <button type="submit"> Guardar encuesta </button>
            </p>
          </form>
    </div>

</body>
</html>