<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Encuestados</title>
</head>
<body>
    <header>
		<h1 class="title">Nombre empresa</h1>
	</header>
	
	<nav>
		<a href="home"> Inicio</a>
		<a href="/encuestas"> Encuestas</a>
        <a href="#"> LogOut</a>
            
	</nav>
    
    <form action="/nuevo_enc", method="POST">
        <input type="text" name="correo" placeholder="Correo">
        <input type="text" name="nombre" placeholder="Nombre"> 
        <button type="submit"> Agregar Encuestado</button>
    </form>

    <!--<div>
        <nav>
            <button> Agregar Nuevo encuestado</button>
           
        </nav>
        <lu>
            <div>
                <h3>Encuestado1@gmail.com</h3>
                <lu>
                    <a>Encuesta1</a>
                    <a>Encuesta2</a>
                </lu>
                <button> Eliminar encuestado</button>
            </div>
            <div>
                <h3>Encuestado2@gmail.com</h3>
                <lu>
                    <a>Encuesta1</a>
                    <a>Encuesta3</a>
                </lu>
                <button> Eliminar encuestado</button>
            </div>
            <div>
                <h3>Encuestado3@gmail.com</h3>
                <lu>
                    <a>Encuesta1</a>
                    <a>Encuesta2</a>
                    <a>Encuesta3</a>
                </lu>
                <button> Eliminar encuestado</button>
            </div>
        </lu>
    </div>-->
</body>
</html>